@charset "UTF-8";
:root {
  --color-text-white: #fff;
  --color-text-black: #000000;
  --color-text-muted: #c3c3c3;
  --color-text-green-flash: #03c703;
  --bg-color-green: #30a46c;
  --bg-color-white: #fff;
  --bg-color-green-light: #30a46c57;
  --font-family-1: "Manrope", Helvetica;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left,
.footer-right {
  flex: 1;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ajustez la taille des icônes selon vos besoins */
.social-icons i {
  font-size: 20px;
  margin-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

.header {
  background-color: var(--bg-color-green);
  color: var(--color-text-white);
  padding: 16px 32px;
}
.headerNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.headerNavigationLogo {
  display: flex;
  align-items: center;
}
.headerNavigationLogoText {
  font-family: var(--font-family-1);
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 12px;
}
.headerNavigationLinks {
  display: flex;
  gap: 40px;
  align-items: center;
  font-family: var(--font-family-1);
}
.headerNavigationLinksText {
  color: var(--color-text-white);
}
.headerNavigationLinksText:hover {
  color: var(--color-text-muted);
}

.amphibiensDescription {
  font-family: var(--font-family-1);
  text-align: center;
  margin: 64px 0 32px 0;
}
.amphibiensContainer {
  display: flex;
  padding: 0 64px;
}
.amphibiensContainerImage {
  background-color: var(--bg-color-green-light);
  padding: 12px;
  border-radius: 4px;
  font-family: var(--font-family-1);
  margin: 0 32px;
}
.amphibiensContainerImageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.amphibiensContainerImageCardPhoto {
  width: 100%;
}
.amphibiensContainerImageCardBoutton {
  padding: 8px;
  border-radius: 4px;
  color: var(--color-text-white);
  background-color: var(--color-text-green-flash);
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.15);
}
.amphibiensContainerImageCardBoutton:hover {
  cursor: pointer;
  background-color: #009600;
}
.amphibiensContainerImageCardLien {
  padding: 8px;
  border-radius: 4px;
  color: var(--color-text-black);
  background-color: var(--bg-color-white);
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.15);
}
.amphibiensContainerImageCardLien:hover {
  background-color: rgb(233, 233, 233);
}

.slick-prev {
  left: 32px;
}

.slick-next {
  right: 32px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: var(--bg-color-green);
}

.product {
  margin-top: 200px;
}
.product .productContainer {
  margin-left: 10%;
  display: flex;
  align-items: center;
}
.product .productContainer .productContainerImg img {
  width: 600px;
  height: 400px;
}
.product .productContainer .productContainerDescription {
  width: 40%;
  margin-left: 150px;
  margin-top: -70px;
}
.product .productContainer .productContainerDescription h2 {
  margin: 15px;
}
.product .productContainer .productContainerDescription .achat {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.product .productContainer .productContainerDescription .achat .achatPrix {
  margin-right: 10px;
  font-weight: 700;
  font-size: x-large;
}
.product .productContainer .productContainerDescription .achat .achatPrixQuantity_name {
  margin-right: 10px;
  font-weight: 700;
  font-size: x-large;
  margin-left: 50px;
}
.product .productContainer .productContainerDescription .achat .achatPrixQuantity-selector {
  margin: 0 10px;
}
.product .productContainer .productContainerDescription .achat .achatPrixQuantity-btn {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.product .productContainer .productContainerDescription .achat .achatPrixQuantity-btn:hover {
  background-color: #45a049;
}
.product .productContainer .productContainerDescription .achat .achatPrixAdd-to-cart-btn {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-left: 25px;
}
.product .productContainer .productContainerDescription .achat .achatPrixAdd-to-cart-btn:hover {
  background-color: #45a049;
}
.product .description {
  text-align: center;
  margin: auto;
  margin-top: 60px;
  width: 70%;
}
.product .description .descriptionTitle {
  font-size: 24px;
  margin-bottom: 10px;
}
.product .description .descriptionText {
  font-size: 18px;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.recommendation-section {
  text-align: center;
  margin-top: 60px;
}
.recommendation-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.recommendation-section .category {
  margin-bottom: 30px;
}
.recommendation-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.img_shop {
  height: 300px !important;
  width: 400px !important;
  margin-left: 200px;
  margin-bottom: 25px;
}

/*# sourceMappingURL=style.css.map */
