.produits {
  padding: 64px;
  &Information {
    font-family: var(--font-family-1);
    color: var(--color-text-white);
    background-color: var(--bg-color-green);
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
    padding: 12px 0;
    border-radius: 4px;
  }
  &Description {
    font-family: var(--font-family-1);
    text-align: center;
    margin: 64px 0 32px 0;
    &Title {
      font-size: 2.6em;
    }
    &SubTitle {
      font-weight: normal;
      color: var(--color-text-muted);
      font-style: italic;
      margin-top: 12px;
    }
  }
  &Container {
    display: flex;
    padding: 0 64px;
    &Image {
      background-color: var(--bg-color-green-light);
      padding: 12px;
      border-radius: 4px;
      font-family: var(--font-family-1);
      margin: 0 32px;
      &Card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        &Photo {
          width: 100%;
          border-radius: 4px;
        }
        &Titre {
          text-align: center;
          font-size: 1.1em;
          font-weight: 600;
        }
        &Prix {
          font-weight: bold;
          > span:nth-child(1) {
            text-decoration: line-through;
            color: var(--color-text-red);
          }

          > span:nth-child(2) {
            font-weight: bold;
            color: var(--color-text-red);
            margin: 0 8px;
          }

          > span:nth-child(3) {
            font-weight: bold;
          }
        }
        &Bouton {
          padding: 8px;
          font-size: 1em;
          border-radius: 4px;
          color: var(--color-text-white);
          background-color: var(--color-text-green-flash);
          box-shadow: 1px 2px 2px 1px var(--bg-box-shadow);
          &:hover {
            cursor: pointer;
            background-color: var(--bg-color-green-hover);
          }
        }
        &Lien {
          padding: 8px;
          border-radius: 4px;
          color: var(--color-text-black);
          background-color: var(--bg-color-white);
          box-shadow: 1px 2px 2px 1px var(--bg-box-shadow);
          &:hover {
            background-color: var(--bg-color-white-hover);
          }
        }
      }
    }
  }
  &Categorie {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    &Bouton {
      font-family: var(--font-family-1);
      font-size: 1.1em;
      font-weight: bold;
      padding: 12px 24px;
      border-radius: 4px;
      color: var(--color-text-white);
      background-color: var(--color-text-green-flash);
      box-shadow: 3px 4px 4px 3px var(--bg-box-shadow) ;
      &:hover{
        background-color: var(--bg-color-green-hover);
      }
    }
  }
}
