
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left,
  .footer-right {
    flex: 1;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Ajustez la taille des icônes selon vos besoins */
  .social-icons i {
    font-size: 20px;
    margin-left:10px;
  }
  