:root {
  --color-text-white: #fff;
  --color-text-black: #000000;
  --color-text-muted: #b4b4b4;
  --color-text-green-flash: #03c703;
  --color-text-red: #ff0000;
  --color-text-green-neon: #b7f700;
  --bg-color-green: #30a46c;
  --bg-color-red: #ff0000;
  --bg-color-red-hover: #ffa1a1;
  --bg-color-green-hover: #009600;
  --bg-color-white: #fff;
  --bg-color-white-2: #f4f4f4;
  --bg-color-white-hover: #e9e9e9;
  --bg-color-black: #000000;
  --bg-color-dark: #333;
  --bg-color-green-light: #30a46c57;
  --bg-box-shadow: #00000026;
  --font-family-1: "Manrope", Helvetica;
}
