:root {
  --color-text-white: #fff;
  --color-text-black: #000000;
  --color-text-muted: #c3c3c3;
  --color-text-green-flash: #03c703;
  --bg-color-green: #30a46c;
  --bg-color-white: #fff;
  --bg-color-green-light: #30a46c57;
  --font-family-1: "Manrope", Helvetica;
}
