<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/png" href="../assets/images/logo.svg" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Panier</title>
</head>

<body>
    <header class="header">
        <nav class="headerNavigation">
            <div class="headerNavigationLogo">
                <img src="../assets/images/logoExoFauna.svg" alt="logo ExoFona" />
                <div class="headerNavigationLogoText"><a class="headerNavigationLogoTextLien"
                        href="../index.html">ExoFona</a>
                </div>
            </div>
            <div class="headerNavigationLinks">
                <a  class="headerNavigationLinksText" href="../index.html">Accueil</a>
                <span class="material-symbols-outlined">
                    <p class="headerNavigationLinksText">Search</p>
                </span>
                <span class="material-symbols-outlined">
                    <p class="headerNavigationLinksText">account_circle</p>
                </span>

                <span class="material-symbols-outlined" id="panier">
                    <p class="headerNavigationLinksText">shopping_cart</p>
                </span>
            </div>
        </nav>
    </header>
    <section class="panier" id="panierPage">
        <div class="panierCard">
            <div class="panierCardContainer">
                <h1>Votre Panier</h1>
                <div id="panierCardContainerContent">
                </div>
                <p class="panierCardContainerPrix">Total : <span id="totalPanier">0.00€</span></p>
                <button class="panierCardContainerBouton" id="validerPanier"> <a
                        href="delivery.html" class="panierCardContainerBoutonLien"><span
                        class="material-symbols-outlined">shopping_cart</span>Commander</a></button>
                <button class="panierCardContainerBoutonSupprimer"
                    onclick="confirmAndClearLocalStorage('panierCardContainerContent')" id="viderPanier"><span
                        class="material-symbols-outlined">
                        delete_forever
                    </span>Vider le panier</button>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footerContent">
            <div class="footerContentLeft">
                <p>&copy; 2024 ExoFauna. Tous droits réservés.</p>
            </div>
            <div class="footerContentRight">
                <div class="footerContentRightSocial">
                    <i class='bx bxl-facebook-square footerContentRightSocialIcons'></i>
                    <i class='bx bxl-twitter footerContentRightSocialIcons'></i>
                    <i class='bx bxl-instagram footerContentRightSocialIcons'></i>
                </div>
            </div>
        </div>
    </footer>
    <script src="../assets/js/utilGestionPanier.js" defer></script>
    <script src="../assets/js/panier.js" defer></script>
</body>

</html>