@media (max-width: 430px) {

    .topDetailsContainerDescriptionTitle {
        font-size: 2.5em;
    }

    .detailsContainerContent {
        text-align: center;
    }

    .description{
        padding: 64px 18px;
    }
}